@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Quicksand";
}

.container {
  /* position: relative;
  left: 10px;
  width: 600px; */
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(77, 80, 245);
}

.header h3 {
  margin-left: 16px;
  color: antiquewhite;
}

.header h1 {
  color: aliceblue;
}

.content {
  margin: 40px auto;
  text-align: center;
  padding: 20px;
}

.content h4 {
  background-color: rgb(91, 146, 241);
  padding: 20px;
  color: aliceblue;
}

.hitung-keliling-m,
.hitung-luas-m {
  border: 1px solid rgb(91, 146, 241);
}

.hitung-keliling-m p,
.hitung-luas-m p {
  text-align: justify;
  margin: 10px;
}

#rumus-l {
  text-align: center;
  font-weight: bold;
}

input[type="text"] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=button] {
  background-color: rgb(91, 146, 241);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sisi-keliling-m p,
.sisi-luas p {
    margin-left: 152px;
}

#output_luas,
#output_keliling {
    border: none;
}

#sisi1 {
    border: none;
    width: 5%;
}

#sisi2 {
    border: none;
    width: 5%;
}

#sisi-keliling {
  border: none;
  width: 5%;
}